/*=======GENERAL===========*/

body {
    font-family: arial, sans-serif;
    background-color: #86E2D5;
}

h1 {
    text-align: center;
    margin-bottom: 5%;
    color: #22313F;
    font-size: 300%;
}

/*========DIV==========*/

#divform {
    width: 40%;
    display: inline-block;
}

#divbtn {
    text-align: center;
    margin-top: 50px;
}

#divresult {
    text-align: center;
    width: 59%;
    display: inline-block;
    vertical-align: top;
}

/*========FORMULAIRE=========*/

form {
    text-align: center;
    border: 3px solid #22313F;
    padding: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#nbcitation {
    border: 1px solid #fff;
    text-align: center;
    font-size: unset;
}

#nbcitation:focus {
    outline: 0;
}

input {
    margin-top: 20px;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    color: #22313F;
    font-size: x-large;
}

button {
    padding: 10px;
    background-color: #86E2D5;
    border: 3px solid #22313F;
    color: #22313F;
    font-size: x-large;
    box-shadow: 5px 5px #336E7B;
}

button:active {
    box-shadow: 2px 2px #336E7B;
    transform: translateY(4px);
}

button:focus {
    outline: 0;
}

/*========CITATIONS===========*/

#phrase {
    font-size: 140%;
    border: 3px solid #22313F;
    padding: 10px;
    display: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


/*==========FOOTER============*/

#note {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
}
